.about-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#350101;
  font-family:sans-serif;
}


.about{
  width:100%;
  padding:40px;
  border-radius:20px;

  background:linear-gradient(
    145deg,
    #7b09ec,
    #f7101f
  );

  color:rgb(241, 77, 77);
  box-shadow:0 10px 40px rgba(205, 9, 9, 0.6);
}


.about-title{
  font-size:32px;
  font-weight:700;
  margin-bottom:10px;
  text-align:left;
}


.about-title::after{
  content:"";
  display:block;
  width:40px;
  height:4px;
  background:#270101;
  margin-top:10px;
  border-radius:5px;
}


.about-text{
  color:#040615;
  line-height:1.8;
  margin-top:15px;
  max-width:720px;
  text-align:left;
  font-size:15px;
}


.section-title{
  margin-top:40px;
  margin-bottom:25px;
  font-size:24px;
  font-weight:600;
}


.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}


.service-card{
  background:linear-gradient(
    145deg,
    #06133c,
    #440340
  );

  padding:25px;
  border-radius:16px;

  display:flex;
  gap:18px;

  border:1px solid rgba(255,255,255,0.05);

  transition:all 0.3s ease;
}


.service-card:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 30px rgba(0,0,0,0.6);
  border-color:#e80c0c;
}


.service-icon{
  font-size:30px;
  color:#f90f0f;
  flex-shrink:0;
}


.service-card h3{
  font-size:17px;
  margin-bottom:6px;
}


.service-card p{
  color:#f38b8e;
  font-size:14px;
  line-height:1.6;
}